<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://func-todo-mn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ba8d99ad-8c07-49ef-bdef-1e93d12f6a49/resourcegroups/rg-todo-pj-mn/providers/Microsoft.Web/sites/func-todo-mn</ResourceId>
    <UserName>$func-todo-mn</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://func-todo-mn.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>